/* BASIC STYLES HERE */
.post-div {
  height: 88vh;
  /* background-color: #7400aa; */
  overflow: scroll;
  overflow-x: hidden;
}

.bad-header {
  height: 11vh;
}

.small-text {
  font-size: small;
}

.profile-img {
  height: 15vh;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
}

.post {
  box-shadow: 0px 2px 6px white;
}

/* .side-background {
  background-color: #28104E;
}

.post-background {
  background-color: #9754CB;
}

.main-background {
  background-color: #6237A0;
} */

.side-background {
  background-color: #400740;
}

.post-background {
  background-color: #7a147a;
}

.main-background {
  background-color: black;
}

/* SECTION scrollbar */
.post-div::-webkit-scrollbar {
  border-radius: 0 5px 5px 0;
}

.post-div::-webkit-scrollbar-button {
  display: none;
}

.post-div::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0 5px 5px 0;
}


.post-div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}


.post-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* !SECTION */

body {
  overflow: hidden;
}